/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2017, 10:12:55 AM
    Author     : j_cas
*/

.Comment {

background-color: #99ccff;
border-width:3px;  
border-style:outset;
padding: 5px ;
word-wrap: break-word;
 width: 100%;

                }